@font-face {
    font-family: FranklinGothic;
    src: url(../fonts/FranklinGothic.ttf);
}

.mainLinks {
    /* Div containing the main links */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mainLinks a {
    /* The main links in that div */
    font-family: 'FranklinGothic', Arial, sans-serif;
    font-size: 15vh;
    padding: 3vh;
}

.photo-page {
    /* Div containing the whole photos page */
    display: flex;
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-page img {
    max-width: 95vw;
    max-height: 95vh;
}

.photo-link {
    padding-top: 1vh;
}

.photo-link a {
    font-family: 'FranklinGothic', Arial, sans-serif;
    font-size: 5vh;
}