@font-face {
    font-family: FranklinGothic;
    src: url(../fonts/FranklinGothic.ttf);
}

.index-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mainLinks {
    /* Div containing the main links */
    display: flex;
    flex-direction: column;
    /* margin-bottom: -2vh; */
}

.mainLinks a {
    /* The main links in that div */
    font-family: 'FranklinGothic', Arial, sans-serif;
    font-size: 18vw;
    padding-bottom: 6vh;
}

.name p {
    font-family: "Courier";
    margin-top: 1vh;
    margin-bottom: 5vh;
    margin-left: .6vh;
    font-size: 5vw
}

.photo-page {
    /* Div containing the whole photos page */
    display: flex;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-page img {
    max-width: 95vw;
    max-height: 95vh;
    padding: .8vh;
}

.photo-page p {
    font-family: Arial, Helvetica, sans-serif;
}

.photo-link {
    padding-top: 1vh;
}

.photo-link a {
    display: flex;
    font-family: 'FranklinGothic', Arial, sans-serif;
    font-size: 5vh;
    padding: 1vh;
}

#amateur {
    max-width: 650px;
}